.logo-wrapper {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: start; /* Align items to the start for closer spacing */
  align-items: center;
  width: 250px; /* Set total width */
  height: 75px; /* Set total height */
  background-color: transparent; /* Transparent background */
}
.circle {
  width: 30px; /* Reduced size for the circle */
  height: 30px; /* Reduced size for the circle */
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Reduced space to keep elements closer */
}
.circle span {
  color: #6366F1; /* Indigo-500 for the letter V */
  font-weight: bold;
  font-size: 20px; /* Adjust size of 'V' to fit in the smaller circle */
}
.text {
  color: #000;
  font-size: 20px; /* Ensure text size is consistent */
  font-weight: 900; /* Extra bold for 'AskVinny' */
  margin: 0; /* Remove any default margins */
}